.question-slide {}

.question-slide-page {
	ion-row#pg-content-info{
		background: none;
		height: 6rem;

		@media screen and (min-width: 768px) {
			height: 90px;
		}
	}
	ion-row#pg-content-main{
		height: calc(100% - 6rem);

		ion-col.pg-content-col {
			display: inline-block;
		}
	}
	.pg-bg-header {
		@media screen and (min-width: 768px) {
			height: 143.36px;
		}	
	}
	.pg-bg-separator-scallop-both {
		@media screen and (min-width: 768px) {
			padding-bottom: 90px;
		}	
	}
	ion-row#pg-content-main.question-slide-pg-content-row {
		@media screen and (min-width: 768px) {
			height: 314.95px;
		}
	}
	
	.pg-bg-content {
		@media screen and (min-width: 768px) {
			height: 314.95px;
			top: 143.36px;
		}
	}

	ion-card {
		background: transparent;
		overflow: hidden;
		box-shadow: none;
		border: none;
		border-radius: 0;
		margin: 2% auto 0;

		h1.headline{
			margin: 5px 0 2px;
			color: #ffde2f;
			font-size: 2rem;
		}

		p.short-description {
			color: white;
			font-size: 1.5rem;
			padding: 0 5px;
		}
	}

	.swiper-pagination-bullet {
		width: 18px;
		height: 18px;
		/* border: 1px solid #ed7d0c; */
		background: radial-gradient(#FFF -300%, #3a3a3a);
		opacity: 1;
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active{
		width: 20px;
		height: 20px;
		background: radial-gradient(#FFF -100%, #ffde2f); 
		box-shadow: 0px 0px 10px black;
	}

	@keyframes slide-next {
		0% { left: 0; }
		99% { left: -99vw; }
		100% { left: 0; }
	}

	@keyframes slide-prev {
		0% { left: 0; }
		99% { left: 99vw; }
		100% { left: 0; }
	}

	ion-card.slide-next{
		animation-name: slide-next;
		animation-duration: 0.5s;		
	}

	ion-card.slide-prev{
		animation-name: slide-prev;
		animation-duration: 0.5s;		
	}


	span.button-inner {
		flex-flow: row wrap;
		align-items: center;
		flex-direction: column;
		/* height: 50%; */
		
		span.optional-input-text {
			font-size: 1.3rem;
			width: 100%;
		}
	}

	#pg-content-main-answer-audio {
		span.button-inner {
			flex-direction: row;
		}
	}
	#pg-content-main-answer-video {
		span.button-inner {
			flex-direction: row;
		}
	}

	ion-navbar.toolbar {
		span.button-inner {
			flex-direction: row;
		}
	}
}
button.pg-content-main-center-question {
  height: 5vh;
  width: 48%;
}

img#pg-bg-content-banner-people {
  margin-top: -2vw;
  width: 100%;
}

.progress-title {
	width : 100%;
	color: white;
	text-align: center;
	font-size: 1.7rem;
	margin: 0.2rem 0;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.meter {
	height: 15px;  /* Can be anything */
	position: relative;
	margin: 0 auto;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 2px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
	width: 80%;

	@media screen and (min-width: 768px) {
		width: 70%;
	}
}

.meter {
	span {
		width: 60%;
		max-width: calc(100% - 4px);
		height: 8px;
		top: 1px;
		left: 2px;
		display: block;
		border-radius: 20px;
		/* background-color: rgb(43,194,83);
		background-image: -webkit-gradient(
		  linear,
		  left bottom,
		  left top,
		  color-stop(0, rgb(43,194,83)),
		  color-stop(1, rgb(84,240,84))
		 );
		background-image: -moz-linear-gradient(
		  center bottom,
		  rgb(43,194,83) 37%,
		  rgb(84,240,84) 69%
		 ); */
		-webkit-box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		-moz-box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		position: relative;
		overflow: hidden;
	}

	span:after {
		content: "";
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background-image: 
		   -webkit-gradient(linear, 0 0, 100% 100%, 
		      color-stop(.25, rgba(255, 255, 255, .2)), 
		      color-stop(.25, transparent), color-stop(.5, transparent), 
		      color-stop(.5, rgba(255, 255, 255, .2)), 
		      color-stop(.75, rgba(255, 255, 255, .2)), 
		      color-stop(.75, transparent), to(transparent)
		   );
		background-image: 
			-moz-linear-gradient(
			  -45deg, 
		      rgba(255, 255, 255, .2) 25%, 
		      transparent 25%, 
		      transparent 50%, 
		      rgba(255, 255, 255, .2) 50%, 
		      rgba(255, 255, 255, .2) 75%, 
		      transparent 75%, 
		      transparent
		   );
		z-index: 1;
		-webkit-background-size: 50px 50px;
		-moz-background-size: 50px 50px;
		-webkit-animation: move 2s linear infinite;
		   -webkit-border-top-right-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		       -moz-border-radius-topright: 8px;
		    -moz-border-radius-bottomright: 8px;
		           border-top-right-radius: 8px;
		        border-bottom-right-radius: 8px;
		    -webkit-border-top-left-radius: 20px;
		 -webkit-border-bottom-left-radius: 20px;
		        -moz-border-radius-topleft: 20px;
		     -moz-border-radius-bottomleft: 20px;
		            border-top-left-radius: 20px;
		         border-bottom-left-radius: 20px;
		overflow: hidden;
	}
}

.dark-blue {
	span {
		background-color: $sedate;
		/* background-image: -moz-linear-gradient(top, $sedate, #f36d0a);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $sedate),color-stop(1, #f36d0a));
		background-image: -webkit-linear-gradient($sedate, #f36d0a); */
	}
}

.gray {
	span {
		background-color: #D1D0CE;
		/* background-image: -moz-linear-gradient(top, #D1D0CE, #f36d0a);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D1D0CE),color-stop(1, #f36d0a));
		background-image: -webkit-linear-gradient(#D1D0CE, #f36d0a); */
	}
}

.yellow {
	span {
		background-color: #ffde2f;
		/* background-image: -moz-linear-gradient(top, #ffde2f, #f36d0a);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffde2f),color-stop(1, #f36d0a));
		background-image: -webkit-linear-gradient(#ffde2f, #f36d0a); */
	}
}

#question-grid-progressbar {
	display: table;

	@media screen and (min-width: 768px) {
		margin-bottom: 10px;
		position: absolute;
	    top: 50px;
	    left: 0;
	}

	@media screen and (max-width: 767px) {
		height: 10%;
		margin-top: 5%;
	}
}

.progress-labels {
	width: 80%;
    margin: 0.2rem auto 2rem;
    display: block;
    position: relative;

    @media screen and (min-width: 768px) {
    	width: 70%;
    	margin: 5px auto 0;
    }
}
.progress-labels {
	span {
	    position: absolute;
	    color: white;
	    font-size: 1.6rem;
	    text-shadow: 1px 2px #000;
	    font-weight: bold;

	    @media screen and (min-width: 768px) {
	    	color: #ffde2f;
	    }
	}

	[fab-left] {
		left: 10px;
	}

	[fab-right] {
		right: 10px;
	}

	[fab-center] {
		margin-left: 0px;

		@media screen and (min-width: 768px) {
	    	margin-left: 20px;
	    }
	}
}

#question-grid-logo {
	@media screen and (max-width: 767px) {
		height: 20%;
	}
}

.pg-content-progress-area {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.swiper-container-horizontal > .swiper-pagination {	
	margin: auto;
	bottom: 0;
	white-space: nowrap;
	position: absolute;
}

.swiper-container-horizontal {
	height: 8%;
	position: relative;
}

.swiper-pagination {
	bottom: 2px;
}

.question-header{
	background: $sedate;
	height: 75px;
	width: 100%;
	display: inline-block;
}

.answer-list {
	height: calc(100% - 75px);
}

.slide-zoom {
	height: 100%;
}

button.pg-content-main-answer.clicked {
	background-color: #ffde2f;
	opacity: 0.9;
	color: $sedate;
	font-weight: bold;
}

.question-card-text {
	ion-list#pg-content-main-answers.pg-content-card-list {
		padding: 3vw 0;
		display: inline-block;
		width: 100%;

		@media screen and (min-width: 768px) {
			padding: 10px 20px;
		}
	}
	
	#pg-content-main-answer-item.answer-button {
		width: 49%;
	    height: 8vh;
	    display: inline-block;
	    margin: 1vw 0;
	    min-height: 40px;
	    /* box-shadow: inset 0px 4px 2px 0px rgba(255,255,255, 0.7), inset 0px -4px 3px rgba(0, 0, 0, 0.8), inset 4px 0px 3px rgba(0, 0, 0, 0.3), inset -4px 0px 3px rgba(0, 0, 0, 0.3); */

	    @media screen and (min-width: 768px) {
	    	width: 23%;
	    	margin: 0 1%;
	    	height: 50px;
	    }

	    label {
	    	font-size: 4.7vw;
	    	background: $sedate;
	    	opacity: 0.8;
	    	box-shadow: inset 0px 4px 2px 0px rgba(255, 255, 255, 0.7), inset 0px -4px 3px rgba(0, 0, 0, 0.8), inset 4px 0px 3px rgba(0, 0, 0, 0.3), inset -4px 0px 3px rgba(0, 0, 0, 0.3);

	    	@media screen and (min-width: 768px) {
	    		font-size: 18px;
	    		color: $tranquil;
	    	}
	    }

	    label.isUploaded {
			background-color: #ffde2f;
			opacity: 0.9;
		    color: #01366a;
		    font-weight: bold;
	    }

	    label:hover:not(.disable-hover) {
			@media screen and (min-width: 768px) {
				cursor: pointer;
		    	border: none;
		    	background: #ffde2f;
		    	border-radius: 10px;
		    }	
		}
	}

	#pg-content-main-answer-item.answer-button:nth-child(odd) {
		float: left;
		margin-right: 1%;
	}

	#pg-content-main-answer-item.answer-button:nth-child(even) {
		float: right;
		margin-left: 1%;
	}

	input[type="file"] {
		display: none;
	}
	
	#pg-content-main-answer-item.answer-label {
		border: none;
	    width: 100%;
	    border-radius: 0;
	    display: inline-block;
	    margin: 2vh auto 0;
	    float: none;
	    background: transparent;
	    opacity: 0.9;

	    @media screen and (min-width: 768px) {
	    	width: 100%;
	    	margin: 10px auto 0;
	    }
	}

	#pg-content-main-answer-item.answer-button.answer-label {
		border-top: none;
	}

	button.pg-content-main-answer {
		word-wrap: break-word;
	    height: 8vh;
	    margin: 0;
	    text-transform: capitalize;
	    color: white;
	    font-size: 4.7vw;
	    min-height: 40px;
	    padding: 0;
	    background: $sedate;
	    opacity: 0.8;

	    @media screen and (min-width: 768px) {
	    	height: 48px;
	    	font-size: 18px;
	    	color: $tranquil;
	    }
	}

	button.pg-content-main-answer.button:hover:not(.disable-hover) {
		@media screen and (min-width: 768px) {
	    	border: none;
	    	background: #ffde2f;
	    	border-radius: 10px;
	    }
	}

	button.pg-content-main-answer, label.pg-content-main-answer {
		span.fa.fa-fw {
			margin-right: 5px;
		}
	}

	.question-card-textarea {
		label {
			padding: 0;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}

		textarea {
			width: 100%;
			min-height: 15rem;
			padding: 3vw;
			border: 2px solid #ffde2f;
			border-radius: 3px;
			box-shadow: 3px 3px 10px gray inset, -3px -3px 10px gray inset;
			color: black;

			@media screen and (min-width: 768px) {
				width: 100%;
				padding: 10px;
				border: none;
				min-height: 200px;
			}
		}
	}

}

.question-card-datetime {
	.item {
		padding: 0 3vw;
        border: 2px solid #ffde2f;
		border-radius: 3px;
		box-shadow: 3px 3px 10px gray inset, -3px -3px 10px gray inset;

		@media screen and (min-width: 768px) {
			padding: 0;
		}
	}
	ion-item.item.isSelected {
		border: 2px solid #ffde2f;
	}
	ion-list#pg-content-main-answers.pg-content-card-list {
		display: inline-block;
		width: 100%;
		padding: 2vw;

		@media screen and (min-width: 768px) {
			padding: 10px 20px;
		}
	}
	
	#pg-content-main-answer-item {
		width: 100%;
	}
	
	ion-label {
		font-weight: bold;
		font-size: 2rem;

		@media screen and (min-width: 768px) {
			font-size: 24px;
		}
	}

	ion-datetime {
		font-size: 1.7rem;
		max-width: 65%;

		@media screen and (min-width: 768px) {
			font-size: 22px;
		}
	}

	ion-list .item-inner {
		border-bottom: none;
		padding: 0;
	}

	.question-card-time .item-inner {
		/* border-bottom: 1px solid black; */
	}
}

.question-card-buttons {
	div#pg-content-main-answer-item:nth-child(odd) {
		margin-right: .5%;
	}

	div#pg-content-main-answer-item:nth-child(even) {
		margin-left: .5%;
	}
}

.question-slide-footer {
	#pg-footer-logo {
		margin: 0 auto;
		position: relative;
		right: 0;
	}
}
